@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideInTopRight {
    from {
        transform: translate(150px, -150px);
        opacity: 0;
    }
    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes slideInBottomLeft {
    from {
        transform: translate(-150px, 150px);
        opacity: 0;
    }
    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}

.animate-slide-in-top-right {
    animation: slideInTopRight 1.5s ease-out forwards;
}

.animate-slide-in-bottom-left {
    animation: slideInBottomLeft 1.5s ease-out forwards;
}
